<div class="login-popup">
    <form action="/auth/login" method="post">
        <input type="text" placeholder="tell me your name" name="username">
        <input type="submit" value="GO">
    </form>
</div>