<div class="login-popup">
    <div class="main-card">
        <form class="q-card" action="/a/login" method="post">
            <p><%= errMsg %></p>
            <input type="text" placeholder="tell me your name" name="username"><br>
            <input type="passsword" placeholder="write your passsword" name="password"><br>
            <input type="submit" value="GO">
        </form>
    </div>    
</div>