<nav>
    <a href='/u/slide-list'><button>Slides List</button></a>
    <a href='/u/quiz-list'><button>Quizzes List</button></a>
    <a href='/u/channel-list'><button>Channels List</button></a>
    <a href='/u/image-list'><button>Images List</button></a>
    <a href="/"><button>Home</button></a>
</nav>