<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- ✔☑✅☑✔😌😛 -->
</head>
<body>
    <div class="main-card">
        <div class="q-card">
            <form action="/admin/add-question" method="post">
                <div>
                    <label for="question">Question
                        <input type="text" name="question">
                    </label>
                </div>
                <div>
                    <label for="options">Options</label><br>
                    <input value="0" name="correct" type="radio"><input type="text" name="a"><br>
                    <input value="1" name="correct" type="radio"><input type="text" name="b"><br>
                    <input value="2" name="correct" type="radio"><input type="text" name="c">
                </div>
                <button type="submit">Add</button>
            </form>
        </div>

        
    </div>
</body>
</html>