<%- include('partials/header') %>
   
    <div class="main-card">
        <div class="q-card">
            <form action="/admin/add-question" method="post">
                <h1>Add Question</h1><br>
                <div>
                     <input required type="text" name="question" placeholder="Question">
                </div>
                <div>
                    <input value="0" required name="correct" type="radio"><input required type="text" placeholder="option 'a'" name="a"><br>
                    <input value="1" required name="correct" type="radio"><input required type="text" placeholder="option 'b'" name="b"><br>
                    <input value="2" required name="correct" type="radio"><input required type="text" placeholder="option 'c'" name="c">
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>

<%- include('partials/footer') %>