<%- include('partials/header') %>

    <div class="main-card">

        <h1 class="q-card" align=center>
            <br><a align=center href='/u/slide-list'><button>Slides List</button></a>
            <br><a align=center href='/u/quiz-list'><button>Quizzes List</button></a>
            <br><a align=center href='/u/channel-list'><button>Channels List</button></a>
            <br><a align=center href='/u/image-list'><button>Images List</button></a>
        </h1>
    </div>

<%- include('partials/footer') %>