<%- include('partials/header') %>

    <div class="main-card">

        <h1 class="q-card" align=center>
            <br><a align=center href='/admin/add-question'>Add Question</a>
            <br><a align=center href='/admin/upload-image'>Upload Image</a>
        </h1>
    </div>

<%- include('partials/footer') %>