<%- include('partials/header') %>

    <div class="main-card">

        <h1 class="q-card" align=center>
            <br><a align=center href='/u/slide-list'>Slide List</a>
            <br><a align=center href='/u/quiz-list'>Quiz List</a>
            <br><a align=center href='/u/channel-list'>Channel List</a>
            <br><a align=center href='/u/upload-image'>Upload Image</a>
        </h1>
    </div>

<%- include('partials/footer') %>