<%- include('partials/header') %>

    <div class="main-card">

        <% if (mode==='login') { %>
            <%- include('partials/login-popup') %>
        <% } else { %>
        <h1 class="q-card" align=center>
            <br><a align=center href='/quiz'>Quiz</a>
            <br><a align=center href='/slide'>Slide</a>
            <br><a align=center href='/admin'>Admin</a>
            </h1>
        <% } %>
    </div>


<%- include('partials/footer') %>