<%- include('partials/header') %>

    <div class="main-card">

        <% if (mode==='login') { %>
            <%- include('partials/login-popup') %>
        <% } else { %>
        <h1 class="q-card" align=center>
            <a href="/logmyvalue"><p style="font-size: small;">username: </p><%=user?.username%></a>
            <br><a align=center href='/u'><button>Tools</button></a>
            </h1>
        <% } %>
    </div>


<%- include('partials/footer') %>