<%- include('partials/header') %>

    <div class="main-card">

        <div class="q-card" align=center>
            <h1>Your Quiz List</h1>
            <ul>
                <% quizList.forEach(quiz => { %>
                    <li><%=quiz.quiz_name%></li>
                <% }); %>
                <li><a href="/admin/create-quiz">Add More Quiz</a></li>
            </ul>
            
        </div>
    </div>

<%- include('partials/footer') %>