<%- include('partials/header') %>

    <div class="main-card">

        <h1 class="q-card" align=center>
            <h1><%= quiz. %></h1>
            <br><a align=center href='/quiz/start/'>Start Quiz</a>
            <ul>
               
            </ul>
        </h1>
    </div>

<%- include('partials/footer') %>