<%- include('partials/header') %>

    <div class="main-card">

        <h1 class="q-card" align=center>
            <br><a align=center href='/q/start'><button>Start Quiz</button></a>
        </h1>
    </div>

<%- include('partials/footer') %>