<%- include('partials/header') %>

    <div class="main-card">
        <ul>
            <li><img src="/images/01.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/02.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/03.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/04.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/05.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/06.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/07.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
            <li><img src="/images/08.png" loading="lazy" width="200" alt="oops"></li>
        </ul>
    </div>

<%- include('partials/footer') %>