<%- include('partials/header') %>
<hr>
<% slide['pages'].forEach(page=>{ %>
    <div class="main-card">
        <% console.log(slide['pages']) %>
        <ul>
        <% page['images'].forEach(image=>{ %>
            <a href="<%= image.url %>"><li><img src="<%= image.url %>" loading="lazy" width="200" alt="oops"></li></a>
        <% }) %>
        </ul>
    </div>
    <hr>
<% }) %>
<%- include('partials/footer') %>