body{
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: #ab00fa;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body::-webkit-scrollbar {
    display: none;
}

.images{
    display: flex;
}

.images img {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.405));
    margin: 5px;;
}

form{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-right-width: 3px;
}

input{
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    border-width: 0.5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 2px;
    border-bottom-width: 2px;

}


nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 2rem;
    align-items: center;
}


nav a {
    color: white;
    position: relative;
    text-decoration: none
}

a {
    color: #e0da26;
    text-decoration: none
}

a button {
    font-size: larger;
    background-color: #5f9ea0;
    border-radius: 10px;
    border: none;
    border-bottom: solid 1px black;
    padding: 5px 15px;
    margin: 0 5px;
}
a button:focus {
    font-size: larger;
    background-color: rgb(132, 158, 180);
    border-radius: 10px;
    border: none;
    border-bottom: solid 1px black;
}
a button:hover {
    font-size: larger;
    background-color: rgb(87, 145, 146);
    border-radius: 15px;
    border: none;
    border-top: solid 1px rgb(176, 176, 176);
}

img{
    margin-bottom: 50px;
}

.media-upload{
    display: flex; 
    background-color: rgba(255, 132, 132, 0.678);
    height: 30rem;
    width: 40rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
}


.image-upload{
    display: flex;
    padding: 10px;
}


.image-box{
    margin: 10px;
}

.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: rgb(224,218,38);
    background: -moz-linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    background: linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0da26",endColorstr="#a226e0",GradientType=1);
    height: 100vh;
    padding: 0;
    margin: 0;
    
}

#slide0 {
    display: flex
}

.q-card{
    background-color: rgba(255, 132, 132, 0.678);
    height: 30rem;
    width: 20rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
}












/* slide styles   */

.slide-main-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    
    background: rgb(224,218,38);
    background: -moz-linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    background: linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0da26",endColorstr="#a226e0",GradientType=1);
    height: 0vh;
    padding: 0;
    margin: 0;
    transform: translateY(-100px);
    transition: transform 0.5s;
    transition: height 2.5s;
}
.show-next-page {
    transform: translateY(0);
    display: flex;
    height: 100vh;
}




.slide-card{
    background-color: rgba(255, 132, 132, 0.678);
    height: 0rem;
    width: 20rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 14px; */
    transition: height 2.5s;
}





.slide-picture-box {
    height: 0rem;
    width: 50rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: height 2.5s;
}

.show-card {
    height: 30rem;
}


.slide-picture-box img {
    width: 100%;
    height: auto;
}


