body{
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: #ab00fa;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body::-webkit-scrollbar {
    display: none;
}

.images{
    display: flex;
}

.images img {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.405));
    margin: 5px;;
}

form{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 3px;
    border-right-width: 3px;
}

input{
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    border-width: 0.5px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 2px;
    border-bottom-width: 2px;

}


nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 2rem;
    align-items: center;
}


nav a {
    color: white;
    position: relative;
    text-decoration: none
}

a {
    color: #e0da26;
    text-decoration: none
}

a button {
    font-size: larger;
    background-color: #5f9ea0;
    border-radius: 10px;
    border: none;
    border-bottom: solid 1px black;
    padding: 5px 15px;
    margin: 0 5px;
}
a button:focus {
    font-size: larger;
    background-color: rgb(132, 158, 180);
    border-radius: 10px;
    border: none;
    border-bottom: solid 1px black;
}
a button:hover {
    font-size: larger;
    background-color: rgb(87, 145, 146);
    border-radius: 15px;
    border: none;
    border-top: solid 1px rgb(176, 176, 176);
}

img{
    margin-bottom: 50px;
}

.media-upload{
    display: flex; 
    background-color: rgba(255, 132, 132, 0.678);
    height: 30rem;
    width: 40rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
}


.image-upload{
    display: flex;
    padding: 10px;
}


.image-box{
    margin: 10px;
}

.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: rgb(224,218,38);
    background: -moz-linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    background: linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0da26",endColorstr="#a226e0",GradientType=1);
    height: 100vh;
    padding: 0;
    margin: 0;
    
}

#slide0 {
    display: flex
}

.q-card{
    background-color: rgba(255, 132, 132, 0.678);
    height: 30rem;
    width: 20rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 14px;
}












/* slide styles   */

.hide-main-card{
    display: none;
}



.slide-main-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background: rgb(224,218,38);
    background: -moz-linear-gradient(90deg, rgba(224,218,38,1) 0%, rgb(162, 38, 224) 100%);
    background: -webkit-linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    background: linear-gradient(90deg, rgba(224,218,38,1) 0%, rgba(162,38,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0da26",endColorstr="#a226e0",GradientType=1);
    height: 0vh;
    width: 100%;
    /* border: solid 3px white; */
    padding: 0px;
    margin: 0;
    transition: height 1.5s cubic-bezier(0.05, 1.02, 0.42, 1.37);
}

.slide-main-card p, .slide-main-card h3 {
    font-size: large;
    width: 20rem;
    text-align: justify;
    line-height: 1.5rem;
}


.show-next-page {
    display: flex;
    height: 100vh;
}

.slide-card{
    background-color: rgb(162, 38, 224, 100%);
    height: 0rem;
    width: 20rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 14px; */
}

.slide-picture-box {
    /* margin-top: 100px; */
    /* height: 0rem; */
    /* width: 50rem; */
    max-width: 100%;
    max-height: 0;
    border-radius: 5px;
    display: inline-block;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    padding: 10px;
    padding-top: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
}

.show-card {
    max-height: 100%;
    padding-bottom: 5px;
    height: 25rem;
}
.slide-picture-box img {
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    margin: 10px;
}

