body{
    padding: 0;
    background-color: blueviolet;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    margin: 50px
}

.main-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.q-card{
    background-color: rgb(255, 176, 72);
    height: 30rem;
    width: 20rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
